<div class="row">

    <div class="row text-center m-2">
        <div class="col-auto me-auto">
            <button type="button" class="btn btn-secondary">Ingreso Adicional Irregular</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-success">Nuevo Ingreso</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col">

            <app-grafica tipo="pie" [data_g]="data" [labels_g]="label" ></app-grafica>
            
        </div>

        <div class="col">
            
            <h4 class="mt-3">Fuentes de Ingresos</h4>

            <ul class=" list-group-flush">

                <li class="list-group-item d-flex justify-content-between align-items-center" >
                    <p>
                        Fuente de ingreso main 
                            
                        <span class="badge bg-success rounded-pill">
                            <i class="bi bi-arrow-up"></i>
                        </span>
                        
                        <span class="badge bg-warning rounded-pill">
                            <i class="bi bi-arrow-down"></i>
                        </span>
                        
                        <span class="badge bg-secondary rounded-pill">
                            =
                        </span>
                    </p>
                    
                    <div class="float-end" >{{ dinero | currency:'MXN' }}</div>
                </li>
                
                <li class=" list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        Fuente de ingreso mayor

                        <span class="badge bg-success rounded-pill">
                            <i class="bi bi-arrow-up"></i>
                        </span>
                        
                        <span class="badge bg-warning rounded-pill">
                            <i class="bi bi-arrow-down"></i>
                        </span>
                        
                        <span class="badge bg-secondary rounded-pill">
                            =
                        </span>
                        
                    </p>
                    <div class="float-end">{{ dinero | currency:'USD':'symbol'  }}</div>
                </li>
                
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        Fuente de ingreso 3

                        <span class="badge bg-success rounded-pill">
                            <i class="bi bi-arrow-up"></i>
                        </span>
                        
                        <span class="badge bg-warning rounded-pill">
                            <i class="bi bi-arrow-down"></i>
                        </span>
                        
                        <span class="badge bg-secondary rounded-pill">
                            =
                        </span>    
                    </p>
                    <div class="float-end">{{ dinero | currency:'MXN':'code' }}</div>
                </li>
            

            </ul>
        </div>
        
    </div>

        <!-- filtrar historial -->
    <div class="row mt-5">

        <form class="row gx-3 gy-2 justify-content-md-center">
            
            <div class="col-sm-3">
                <select class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>

            <div class="col-sm-3">
                <select class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
            
            <div class="col-sm-3">
              
              <select class="form-select">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn-outline-primary">Aplicar</button>
            </div>


            <div class="col-auto">
                <button type="submit" class="btn btn-outline-secondary">Eliminar Filtros</button>
              </div>

        </form>

    </div>


</div>
        
<app-historial [header]="cabecera" [body]="cuerpo" ></app-historial>


<app-loading mensaje="de las fuentes de ingreso" ></app-loading>