<div style="display: block;">

    <canvas #mycanvas *ngIf="tipo == 'doughnut' || tipo == 'pie'" baseChart 
        [chartType]="tipo"
        [data]="data_g" 
        [labels]="labels_g"
        [options]="options"
        [legend]="legend_g" >
        
    </canvas>
    
    <canvas *ngIf="tipo == 'line' || tipo == 'bar' " baseChart
        [chartType]="tipo"
        [datasets]="data_g" 
        [labels]="labels_g" 
        [options]="options"
        [legend]="legend_g" >
        
    </canvas>
    
    
</div>
<!-- [colors]="lineChartColors" -->
