<!-- animate__slideInLeft -->

<div class="sidebar overflow-auto bg-dark" *ngIf="showMenu">
  
    
  <div class=" accordion " >

    <!-- primer  -->
    <div class="accordion-itemx">
<!--       
      data-toggle="collapse" 
      data-target="#collapseOne" 
      aria-expanded="true" 
      aria-controls="collapseOne" -->

        <button class="accordion-button collapsed" data-bs-toggle="collapse" 
        data-bs-target="#flush-collapsePresupuesto" >
          Presupuesto
        </button>
<!--         
        id="collapseOne" 
        class="collapse show" 
        aria-labelledby="headingOne" 
        data-parent="#accordionExample"
         -->
      <div id="flush-collapsePresupuesto" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" >
        <div class="accordion-body">

          <!-- routerLinkActive="active" -->
          <a class="dropdown-item" [routerLink]="['ingresos']"  >Ingresos</a>
            
          <div class="dropdown-divider"></div>
            
          <a class="dropdown-item" [routerLink]="['gastos']" >Gastos</a>
            
        </div>
      </div>
    </div>
    
    <!-- segundo -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#flush-collapseTwo" aria-expanded="false" 
        aria-controls="flush-collapseTwo">
          Deuda
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" 
      aria-labelledby="flush-headingTwo">
        <div class="accordion-body">
            
          <a class="dropdown-item" [routerLink]="['deudas']" >Deudas pendientes</a>
            
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" [routerLink]="['deudasSaldadas']">Deudas saldadas</a>
        
        </div>
      </div>
    </div>

    <!-- tercero -->
    <!-- <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingImpuestos">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#flush-collapseImpuestos" aria-expanded="false" 
        aria-controls="flush-collapseImpuestos">
          Impuestos
        </button>
      </h2>
      <div id="flush-collapseImpuestos" class="accordion-collapse collapse" 
      aria-labelledby="flush-headingImpuestos">
        <div class="accordion-body">

          <a class="dropdown-item" routerLink='pagina1' >Action</a>
            
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" href="#">Another action</a>
          
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" href="#">Something else here</a>
          
        </div>
      </div>
    </div> -->

    <!-- rgb(14, 35, 59) -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">  
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#flush-collapseInversion" aria-expanded="false" 
        aria-controls="flush-collapseFive">
          Inversion
        </button>
      </h2>
      <div id="flush-collapseInversion" class="accordion-collapse collapse" 
      aria-labelledby="flush-headingFive" >
        <div class="accordion-body">

          <a class="dropdown-item" [routerLink]="['inversiones']" >Largo plazo</a>
            
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" [routerLink]="['inversiones']">Corto plazo</a>
        
        </div>
      </div>
    </div>
    

    <!-- Ahorro -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#flush-collapseThree" aria-expanded="false" 
        aria-controls="flush-collapseThree">
          Ahorro
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" 
      aria-labelledby="flush-headingThree" >
        <div class="accordion-body">

          <a class="dropdown-item" [routerLink]="['emergencia']" >Fondo de Emergencia</a>
          
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" [routerLink]="['retiro']">Ahorro para el Retiro</a>
        
        </div>
      </div>
    </div>

  </div>
</div>
