.sidebar{
    position: absolute;
    left: 0;
    width: 19%;
    height: 90%;
    max-height: 90%;
    /* -webkit-animation: slide 0.5s forwards; */
    /* -webkit-animation-delay: 2s; */

    /* animation: slide 0.5s forwards; */
    /* animation-delay: 2s; */
    /* transition: all 0.3s ease-out, opacity 0.3s ease 0.5s; */
    z-index: 2;
}

a {
    display: block;
    padding: 8px 24px;
    text-align: left; 
    color: floralwhite;
}

.accordion-button{
    color: floralwhite;
}