<!-- animate__slideInLeft -->

<div class="sidebar shadow-lg mb-5 bg-white rounded" *ngIf="showMenu">
  
  <div class="lista">
    
    <!-- <li class="list-group-item" >Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li> -->

    <a routerLink="/page1">Page 1</a>
    <a routerLink="/page2">Page 2</a>
    <a routerLink="/page3">Page 3</a>
    <a routerLink="/page4">Page 4</a>
    
  </div>

</div>
