<div class="row">
    
    <h1 *ngIf="carga" class="h2">Deudas saldadas</h1>
    <table *ngIf="carga" class="table table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Acreedor</th>
                <th scope="col">Monto Original</th>
                <th scope="col">Monto Final</th>
                <th scope="col">Diferencia</th>
                <th scope="col">Interes</th>
                <th scope="col">Fecha de Expedicion</th>
                <th scope="col">Fecha de Cumplimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row"  (click)="prueba()">
                <td> transporte </td>
                <td> BBVA Bancomer </td>
                <td> {{ a*b       | currency:'MXN':'symbol'  }}</td>
                <td> {{ a*b+87.13 | currency:'MXN':'symbol': '2.2' }}</td>
                <td> {{ a*b+53.33 | currency:'MXN':'symbol': '2.2' }}</td>
                <td> {{ a         | percent:'2.2' }}</td>
                <td> {{ fecha     | date:'d-MM-yyyy' }}</td>
                <td> {{ fecha     | date:'d-MM-yyyy' }}</td>
            </tr>
        </tbody>
    </table>
</div>